<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="layouts :: headTag"></head>
	
	<body>
		<nav th:replace="layouts :: navBar"></nav>
	
		<div class="container">
			<div class="row">
				<table>
					<thead>
						<tr>
							<th>Member ID</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Email</th>
							<th>Title</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="memberTemp : ${memberHtmlController}">
							<td th:text="${memberTemp.memberId}"></td>
							<td th:text="${memberTemp.memberFname}"></td>
							<td th:text="${memberTemp.memberLname}"></td>
							<td th:text="${memberTemp.memberEmail}"></td>
							<td th:text="${memberTemp.memberTitle}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	
	</body>


</html>